force-app/main/default/flows/TFG_FLW_Registro_de_Reclamacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssigmentSelectedContact</name>
        <label>AssigmentSelectedContact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inicio_Registro_de_la_Reclamacion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Clasificacion_de_la_Reclamacion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Informacion_necesaria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inicio_Registro_de_la_Reclamacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registro_de_reclamacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Step2</name>
        <label>Step2</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clasificacion_de_la_Reclamacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClaimClassifier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Step3</name>
        <label>Step3</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Informacion_necesaria</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequiredData</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TFG_FLW_Registro de Reclamación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registro de Reclamación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigmentSelectedContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedContactId</assignToReference>
            <field>ContactoTitular__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ClaimClassifier</name>
        <label>Clasificar la Reclamación</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step3</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicador</name>
            <extensionName>c:TFG_FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountInfo</name>
            <extensionName>c:TFG_AccountInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TFG_ClaimClassifier</name>
            <extensionName>c:TFG_ClaimClassifier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hasSorterChanged</name>
                <value>
                    <elementReference>hasSorterChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCodeSubType</name>
                <value>
                    <elementReference>selectedCodeSubType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCodeType</name>
                <value>
                    <elementReference>selectedCodeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSubtype</name>
                <value>
                    <elementReference>selectedSubtype</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedType</name>
                <value>
                    <elementReference>selectedType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>InitialComments</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedClassSubType</assignToReference>
                <name>selectedClassSubType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedCodeSubType</assignToReference>
                <name>selectedCodeSubType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedCodeType</assignToReference>
                <name>selectedCodeType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedSubtype</assignToReference>
                <name>selectedSubtype</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedType</assignToReference>
                <name>selectedType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InitialComments</assignToReference>
                <name>comments</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registro_de_reclamacion</name>
        <label>Registro de reclamación</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step2</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator</name>
            <extensionName>c:TFG_FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InitialClaimRegistration</name>
            <extensionName>c:TFG_InitialClaimRegistration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formValidity</name>
                <value>
                    <elementReference>formValidity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ignoreReload</name>
                <value>
                    <elementReference>IgnoreReloadStep1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>InitialComments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedContactId</name>
                <value>
                    <elementReference>selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>formValidity</assignToReference>
                <name>formValidity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>IgnoreReloadStep1</assignToReference>
                <name>ignoreReload</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InitialComments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedContactId</assignToReference>
                <name>selectedContactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RequiredData</name>
        <label>Informacion Necesaria</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StepFinal</name>
            <extensionName>c:TFG_FlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountInfoLastStage</name>
            <extensionName>c:TFG_AccountInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequiredFieldsForm</name>
            <extensionName>c:TFG_RequiredFieldsForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalObservations</name>
                <value>
                    <elementReference>additionalObservations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>contractId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newClaim</name>
                <value>
                    <elementReference>newClaim</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSubType</name>
                <value>
                    <elementReference>selectedCodeSubType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedType</name>
                <value>
                    <elementReference>selectedCodeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedClassSubtype</name>
                <value>
                    <elementReference>selectedClassSubType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>InitialComments</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>additionalObservations</assignToReference>
                <name>additionalObservations</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newClaim</assignToReference>
                <name>newClaim</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InitialComments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedClassSubType</assignToReference>
                <name>selectedClassSubtype</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <description>Clasificación de la reclamación</description>
        <name>Clasificacion_de_la_Reclamacion</name>
        <isActive>false</isActive>
        <label>Clasificación de la Reclamación</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Información necesaria</description>
        <name>Informacion_necesaria</name>
        <isActive>false</isActive>
        <label>Información necesaria</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Inicio de la reclamación</description>
        <name>Inicio_Registro_de_la_Reclamacion</name>
        <isActive>false</isActive>
        <label>Inicio Registro de la Reclamación</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account sobre la que se crea la reclamación</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>additionalObservations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formValidity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasSorterChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IgnoreReloadStep1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InitialComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>newClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedClassSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCodeSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCodeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
